@close-icon: url('../../icons/close.png');
@minimize-icon: url('../../icons/minimize.png');
@maximize-icon: url('../../icons/maximize.png');
@minsize-icon: url('../../icons/minsize.png');
@collapse-icon: url('../../icons/chev-down.png');