.lww-dock-icon.lww-default,
.lww-header-icon.lww-default {
  background-image: url('../../icons/close.png');
}
.lww-container {
  font-family: Monaco, monospace;
  text-shadow: 0px 0px 0px black;
  color: black;
  position: fixed;
  text-align: center;
  overflow: hidden;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  box-shadow: 2px 2px 10px #000000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* .lww-animated {
    -webkit-transition: width 250ms ease-in-out, height 250ms ease-in-out;
    -moz-transition: width 250ms ease-in-out, height 250ms ease-in-out;
    -o-transition: width 250ms ease-in-out, height 250ms ease-in-out;
    transition: width 250ms ease-in-out, height 250ms ease-in-out;
} */
.lww-animated {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.lww-header {
  display: inline-flex;
  height: 30px;
  width: 100%;
  background: rgba(255, 255, 255, 0.76);
}
.lww-header > .lww-header-icon {
  width: 25px;
  margin-left: 5px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
}
.lww-header-label {
  margin-left: 10px;
  flex: 5;
  text-align: left;
  display: flex;
  align-items: center;
  user-select: none;
  overflow: hidden;
  white-space: nowrap;
}
.lww-content {
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 32.5px);
  overflow: overlay;
  border-radius: 5px;
  left: 5px;
  box-sizing: border-box;
  background: none;
  border: none;
  box-shadow: none;
}
.lww-header-buttons-container {
  min-width: 140px;
  max-width: 200px;
  display: inline-flex;
  align-items: center;
  flex: 1;
}
.lww-header-button {
  width: 30%;
  margin-right: 3%;
  height: 80%;
  border-radius: 2px;
  box-sizing: border-box;
  border: 1px rgba(0, 0, 0, 0.4) solid;
  box-shadow: 2px 2px 3px black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
}
.lww-header-button:active {
  filter: invert(80%);
}
.lww-header-button:hover {
  filter: invert(30%);
}
.lww-header-close {
  background-image: url('../../icons/close.png');
}
.lww-header-minimize {
  background-image: url('../../icons/minimize.png');
}
.lww-header-maximize {
  background-image: url('../../icons/maximize.png');
}
.lww-header-collapse {
  background-image: url('../../icons/chev-down.png');
}
.lww-header-minsize {
  background-image: url('../../icons/minsize.png');
}
.lww-dock-container {
  position: fixed;
  /* DEBUG */
  background: transparent;
}
.lww-dock-container.vertical.downwards {
  flex-flow: column;
}
.lww-dock-container.vertical.upwards {
  flex-flow: column-reverse;
}
.lww-dock-container.horizontal.rightwards {
  flex-flow: row;
}
.lww-dock-container.horizontal.leftwards {
  flex-flow: row-reverse;
}
.lww-dock-container.vertical {
  display: flex;
}
.lww-dock-container.horizontal {
  display: flex;
}
.lww-docked-window {
  border: thin rgba(0, 0, 0, 0.34) solid;
  border-radius: 3px;
  box-shadow: 0px 0px 6px black;
  text-align: center;
  display: flex;
  align-items: flex-end;
  z-index: 501;
}
.lww-docked-window:hover {
  filter: invert(40%);
}
.lww-docked-window:active {
  filter: invert(80%);
}
.lww-docked-window.vertical {
  width: 100%;
  background: white;
}
.lww-docked-window.vertical > .lww-dock-label {
  transform-origin: left top 0;
  transform: rotate(-69deg);
}
.lww-docked-window.vertical > .lww-dock-icon {
  height: 25px;
  width: 100%;
  margin-top: 5px;
}
.lww-docked-window.horizontal {
  height: 100%;
  justify-content: center;
  align-items: center;
}
.lww-docked-window.horizontal > .lww-dock-icon {
  width: 25px;
  height: 100%;
  margin-left: 5px;
}
.lww-docked-window > .lww-dock-label {
  font-family: Monaco, monospace;
  font-size: 11px;
  user-select: none;
}
.lww-docked-window > .lww-dock-icon {
  display: flex;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
}
