.lww-container {
    background-color: rgba(255, 255, 255, .1);
    position: fixed;
    border: 2px solid rgb(152, 148, 65);
    text-align: center;
    overflow: hidden;
    font-family: Monaco, monospace;
    color: rgb(152, 148, 65);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    text-shadow: 0px 1px 2px rgb(105, 139, 171);
    border-radius: 3px;
}

.lww-header {
    display: inline-flex;
    height: 30px;
    width: 100%;
    background: wheat;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+10,000000+72&0.59+2,0.51+6,0.22+31,0+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.59) 2%, rgba(0, 0, 0, 0.51) 6%, rgba(0, 0, 0, 0.46) 10%, rgba(0, 0, 0, 0.22) 31%, rgba(0, 0, 0, 0.09) 72%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.59) 2%, rgba(0, 0, 0, 0.51) 6%, rgba(0, 0, 0, 0.46) 10%, rgba(0, 0, 0, 0.22) 31%, rgba(0, 0, 0, 0.09) 72%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.59) 2%, rgba(0, 0, 0, 0.51) 6%, rgba(0, 0, 0, 0.46) 10%, rgba(0, 0, 0, 0.22) 31%, rgba(0, 0, 0, 0.09) 72%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96000000', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
}

.lww-header-label {
    margin-left: 25px;
    flex: 5;
    text-align: left;
    display: flex;
    align-items: center;
    user-select: none;
}

.lww-content {
    position: absolute;
    width: calc(100% - 16px);
    height: calc(100% - 30px - 8px);
    left: 8px;
    background: white;
    box-sizing: border-box;
    border: thin rgba(0, 0, 0, 0.3) solid;
    box-shadow: 3px 3px 6px black;
}

.lww-header-buttons-container {
    display: inline-flex;
    min-width: 140px;
    max-width: 200px;
    align-items: center;
    flex: 1;
}

.lww-header-button {
    width: 30%;
    margin-right: 3%;
    box-sizing: border-box;
    border: 1px rgba(0, 0, 0, 0.4) solid;
    box-shadow: 2px 2px 3px black;
    height: 80%;
    border-radius: 3px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
}

.lww-header-button:active {
    filter: invert(80%)
}

.lww-header-button:hover {
    filter: invert(30%)
}

.lww-header-close {
    background-image: url('./icons/close.png');
}

.lww-header-minimize {
    background-image: url('./icons/minus.png');
}

.lww-header-maximize {
    background-image: url('./icons/maximize.png');
}

.lww-header-collapse {
    background-image: url('./icons/chev-down.png');
}