@import "default/paths";
@import "default/theme";
@import "default/layout";
@import "default/font";

.lww-front {

}

.lww-container {
    font-family: @font;
    text-shadow: @text-shadow;
    color: @text-color;

    position: fixed;
    text-align: center;
    overflow: hidden;

    border-radius: @container-border-radius;

    background-color: @container-background-color;
    border: @container-border;
    box-shadow: @container-box-shadow;

    border-top-left-radius: @border-radius-top;
    border-top-right-radius: @border-radius-top;

    border-bottom-left-radius: @border-radius-bottom;
    border-bottom-right-radius: @border-radius-bottom;
}


/* .lww-animated {
    -webkit-transition: width 250ms ease-in-out, height 250ms ease-in-out;
    -moz-transition: width 250ms ease-in-out, height 250ms ease-in-out;
    -o-transition: width 250ms ease-in-out, height 250ms ease-in-out;
    transition: width 250ms ease-in-out, height 250ms ease-in-out;
} */

.lww-animated {
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.lww-header {
    display: inline-flex;
    height: @header-height;
    width: 100%;
    // /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+10,000000+72&0.59+2,0.51+6,0.22+31,0+100 */
    // background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.59) 2%, rgba(0, 0, 0, 0.51) 6%, rgba(0, 0, 0, 0.46) 10%, rgba(0, 0, 0, 0.22) 31%, rgba(0, 0, 0, 0.09) 72%, rgba(0, 0, 0, 0) 100%);
    // /* FF3.6-15 */
    // background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.59) 2%, rgba(0, 0, 0, 0.51) 6%, rgba(0, 0, 0, 0.46) 10%, rgba(0, 0, 0, 0.22) 31%, rgba(0, 0, 0, 0.09) 72%, rgba(0, 0, 0, 0) 100%);
    // /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.59) 2%, rgba(0, 0, 0, 0.51) 6%, rgba(0, 0, 0, 0.46) 10%, rgba(0, 0, 0, 0.22) 31%, rgba(0, 0, 0, 0.09) 72%, rgba(0, 0, 0, 0) 100%);
    // /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96000000', endColorstr='#00000000', GradientType=0);
    // /* IE6-9 */
    background: @background-color;

    >.lww-header-icon {
        width: @header-icon-width;
        margin-left: @content-padding;
        height: 100%;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-clip: border-box;
    }
}

.lww-header-label {
    margin-left: @header-label-margin-left;
    flex: 5;
    text-align: left;
    display: flex;
    align-items: center;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
}

.lww-content {
    position: absolute;
    width: @content-width;
    height: @content-height;
    overflow: overlay;
    border-radius: @content-border-radius;

    left: @content-padding;
    box-sizing: border-box;
    background: @content-background-color;
    border: @content-border;
    box-shadow: @content-box-shadow;
}

.lww-header-buttons-container {
    min-width: @buttons-container-min-width;
    max-width: @buttons-container-max-width;

    display: inline-flex;
    align-items: center;
    flex: 1;
}

.lww-header-button {
    width: @header-button-width;
    margin-right: @header-button-margin-right;
    height: @header-button-height;
    border-radius: @header-button-border-radius;

    box-sizing: border-box;
    border: 1px rgba(0, 0, 0, 0.4) solid;
    box-shadow: 2px 2px 3px black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
}

.lww-header-button:active {
    filter: invert(80%)
}

.lww-header-button:hover {
    filter: invert(30%)
}

.lww-header-close { background-image: @close-icon; }
.lww-header-minimize { background-image: @minimize-icon; }
.lww-header-maximize { background-image: @maximize-icon; }
.lww-header-collapse { background-image: @collapse-icon; }
.lww-header-minsize { background-image: @minsize-icon; }

.lww-dock-container {
    position: fixed;
    /* DEBUG */
    background: transparent;

    &.vertical.downwards { flex-flow: column; }
    &.vertical.upwards { flex-flow: column-reverse; }
    &.horizontal.rightwards { flex-flow: row; }
    &.horizontal.leftwards { flex-flow: row-reverse; }
    &.vertical { display: flex; }
    &.horizontal { display: flex; }
}

.lww-docked-window {
    border: @docked-border;
    border-radius: @docked-border-radius;
    box-shadow:  @docked-box-shadow;
    text-align: center;
    display: flex;
    align-items: flex-end;
    z-index: 501;

    &:hover { filter: invert(40%); }
    &:active { filter: invert(80%); }

    &.vertical {
        width: 100%;
        background: white;

        >.lww-dock-label {
            transform-origin: left top 0;
            transform: @v-dock-label-transform;
        }

        >.lww-dock-icon {
            height: @dock-icon-size;
            width: 100%;
            margin-top: @content-padding
        }
    }

    &.horizontal {
        height: 100%;

        justify-content: center;
        align-items: center;

        >.lww-dock-icon {
            width: @dock-icon-size;
            height: 100%;
            margin-left: @content-padding
        }
    }

    >.lww-dock-label {
        font-family: @font;
        font-size: @dock-label-font-size;

        user-select: none;
    }

    >.lww-dock-icon {
        display: flex;
        text-align: center;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-clip: border-box;
    }
}

